
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
          [id]="dataFake[0].id"
          [photoCover]="dataFake[0].photo"
          [cardTitle]="dataFake[0].title"
          [cardDescription]="dataFake[0].description"
        ></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card *ngFor="let card of dataFake | slice:1; index as i "
            [id]="card.id"
            [photoCover]="card.photo"
            [cardTitle]="card.title"
        ></app-small-card>
       
    </div>
</div>