.container__big-card{
    border: solid white 2px;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    .big-card__title{
        h1{
            font-size: 20px;
            margin-top: 15px;
        }
    }

    .big-card__description{
        p{
            color: gray;
            margin-top: 10px;
        }
    }
}