<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://i.stack.imgur.com/luaq2.png" 
            alt=""
            height="200px"
             >
    </div>
    <div class="big-card__title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou</p>
    </div>
</div>
